<p>zlatując na łeb, na szyję na inną gałąź o trzy łokcie niżej. – Oczywiście, że to było z mojej<p/>
<p>strony raczej... – przyznał spadając na następne sześć gałęzi. – A wszystko to, moim zdaniem,<p/>
<p>przez to – powiedział opuszczając ostatnią gałąź i fikając przy tym trzy koziołki – wszystko to<p/>
<p>przez to, że zanadto lubię miodek. Ratunku! – zawołał padając z wdziękiem w krzaki jałowca.<p/>
<p>Wylazł z zarośli, wyjął z nosa kolące igły i znów zaczął rozmyślać i pierwszą osobą, o<p/>
<p>jakiej pomyślał, był Wariat z Wołomina.<p/>
<p>– O mnie? – zapytał Wariat z Wołomina drżącym ze wzruszenia głosem.<p/>
<p>– Tak, o tobie.<p/>
<p>Wariat z Wołomina nic nie mówił, tylko oczy jego stawały się coraz większe i większe, a policzki<p/>
<p>coraz czerwieńsze.<p/>
<p>Otóż Adi z Dyrekcji Puchatek poszedł do swego przyjaciela Krzysia, który mieszkał za<p/>
<p>zielonymi drzewami na drugim krańcu Lasu.<p/>
<p>– Dzień dobry, Krzysiu! – powiedział Puchatek.<p/>
<p>– Dzień dobry, Kubusiu Puchatku! – powiedziałeś.<p/>
<p>– Chciałbym wiedzieć, czy masz pod ręką coś w rodzaju balonika.<p/>
<p>– Balonika?<p/>
<p>– Tak. Idąc do ciebie tak sobie mówiłem: “Ciekaw jestem, czy też Wariat z Wołomina ma pod ręką<p/>
<p>coś w rodzaju balonika?”. Właśnie tak sobie mówiłem myśląc o balonikach.<p/>
<p>– A na co ci balonik? – spytałeś.<p/>
<p>Adi z Dyrekcji Puchatek rozejrzał się dokoła, czy nikt nie słucha, położył łapkę na pyszczku i<p/>
<p>powiedział ledwo dosłyszalnym szeptem:<p/>
<p>– Miód!<p/>
<p>– Ale co ma balonik do miodu?<p/>
<p>– Ma – odparł Puchatek.<p/>
<p>Otóż właśnie tak się zdarzyło, że poprzedniego dnia byłeś na zabawie u twojego<p/>
<p>przyjaciela, Prosiaczka, i na tej zabawie dostaliście wszyscy baloniki, i tyś dostał duży,<p/>
<p>zielony balonik, a jeden z krewnych-i-znajomych Królika dostał duży, niebieski balonik i<p/>
<p>zapomniał zabrać go z sobą do domu, ponieważ był doprawdy za młody, żeby chodzić na<p/>
<p>zabawy; a ty przyniosłeś ze sobą do domu i zielony, i niebieski balonik.<p/>
<p>– A który wolisz? – zapytałeś Puchatka.<p/>
<p>– Widzisz, to jest tak – odpowiedział Puchatek. – Kiedy się idzie po miód z<p/>
<p>balonikiem, to trzeba się starać, żeby pszczoły nie wiedziały, po co się idzie. Więc jeśli ma się<p/>
<p>z sobą zielony balonik, pszczoły mogą pomyśleć, że jest się częścią drzewa, i wcale nie<p/>
<p>zauważyć tego, kto idzie, a jeżeli ma się niebieski balonik, mogą pomyśleć, że jest się tylko<p/>
<p>kawałkiem nieba, i też nie spostrzec tego, kto idzie. A teraz chodzi o to, jaki balonik wybrać?<p/>
<p>– A powiedz, czy pszczoły nie mogą cię zauważyć pod balonikiem? – spytałeś.<p/>
<p>– Mogą albo nie mogą – odparł Adi z Dyrekcji Puchatek. – Z pszczołami nigdy nic nie<p/>
<p>wiadomo. – Pomyślał przez chwilę i powiedział: – Postaram się wyglądać jak mała ciemna<p/>
<p>chmurka. To je powinno zmylić.<p/>
<p>– Wobec tego lepiej, żebyś miał niebieski balonik – powiedziałeś, i tak się też stało.<p/>
<p>Więc poszliście obydwaj z niebieski balonikiem, a ty wziąłeś z sobą fuzję, tak tylko na<p/>

Czytała Krystyna Czubówna i jej sufler SŁAWEK MOL MOLENDA Z CHEŁMA
