<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Flaga dla Ukrainy</title>
    <link type="text/css" rel="stylesheet" href="static/main.css">
</head>
<body>
    <div class="heading">
        <p class="subtitle">Dużo siły i miłości dla Ukrainy</p>
	    <p class="subtitle">Jesteśmy z Wami</p>
        <div class="button">
            <a target="_blank" href="slava-ukraini">
                 <button class="register" >flaga</button>
            </a>
            <a target="_blank" href="https://www.youtube.com/watch?v=-0z01t7bY2s">
                <button class="register">bayraktar</button>
            </a>
            <a target="_blank" href="https://pl.wikipedia.org/wiki/Taras_Szewczenko">
                <button class="register">Bohater Ukrainy</button>
            </a>
            <a target="_blank" href="ukraina-za-10-lat">
                <button class="register">przyszłość</button>
            </a>
        </div>
    </div>
</body>
</html>
